<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout des Etudiants</title>
</head>
<divbody>
	<div th:replace="template">
	</div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header" th:if="${mode=='new'}"> Ajout des Etudiants</div>
			<div class="card-header" th:if="${mode=='edit'}">Modification des Etudiants </div>
			<div class="card-body">
				<form th:action="@{saveEtudiant}" method="post">
					<div class="form-group">
						<label class="control-label" hidden>ID Etudiant :</label>
						<input type="hidden" name="idEtudiant" class="form-control" th:value="${etudiant.idEtudiant}" />
					</div>

					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input type="text" name="nom" class="form-control" th:value="${etudiant.nom}" />
						<span th:errors=${etudiant.nom} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Prenom :</label>
						<input type="text" name="prenom" class="form-control" th:value="${etudiant.prenom}" />
						<span th:errors=${etudiant.prenom} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Parcours :</label>
						<input type="text" name="parcours" class="form-control" th:value="${etudiant.parcours}" />
						<span th:errors=${etudiant.parcours} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Date Inscription :</label>
						<input type="date" name="dateInscription" class="form-control"
							th:value="${etudiant.dateInscription}" />
						<span th:errors=${etudiant.dateInscription} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Email :</label>
						<input type="text" name="email" class="form-control" th:value="${etudiant.email}" />
						<span th:errors=${etudiant.email} class="text-danger"> </span>
					</div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Departement :</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="departement">
                            <option value="">Sélectionnez un departement </option>
                            <option th:each="departement:${departements}" th:value="${departement.idDepart}"
                                th:text="${departement.nomDepart}"></option>
                        </select>
                    </div>
                </div>
                
                <!--<div class="form-group">
							<label class="control-label">Departement :</label> 
							<select     name="departement" class="form-control" th:value="${etudiant.departement.idDepart}"   th:if= "${!#strings.isEmpty(etudiant.departement)}" >
								<option th:each="d:${departements}" th:if="${mode=='edit'}"
									th:value="${d.idDepart}" th:text="${d.nomDepart}"
									th:selected="${ d.idDepart==etudiant.departement.idDepart}"></option>

								<option th:each="d:${departements}" th:if="${mode=='new'}"
									th:value="${d.idDepart}" th:text="${d.nomDepart}"></option>
							</select>-->
							
						
						<!-- Pour ne pas avoir d'erreurs si la catégorie est null on ajoute ce select -->
							<!--<select     name="departement" class="form-control"    th:if= "${#strings.isEmpty(etudiant.departement)}" >
								<option th:each="d:${departements}" th:value="${d.idDepart}" th:text="${d.nomDepart}"></option>
							</select>
							
						</div>
					<div>-->
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	</body>

</html>